<ng-container>
    <div class="jumbotron">
        <div class="flex-container">
            <div class="each-card">
                <div>
                    <img [src]="'./../../../assets/profile.jpeg'" alt="" class="profile-pic">
                </div>
                <div class="designation" style="color: black; margin: 1rem 0;font-weight: 500;">
                    Aman Agarwal
                </div>
                <a href="./../../../assets/finalresume.pdf" class="button-resume">
                    <button> Resume</button>
                </a>
                <div class="icon-container">
                    <a target='_blank' href="https://twitter.com/cyclopaman" rel="noopener noreferrer">
                        <fa-icon [icon]="faTwitter"></fa-icon>
                    </a>
                    <a target='_blank' href="https://www.instagram.com/doofenshmirtz.evil_inc_/" rel="noopener noreferrer">
                        <fa-icon [icon]="faInsta"></fa-icon>
                    </a>
                    <a href="https://github.com/agarwalaman263" rel="noopener noreferrer">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                    <a target='_blank' href="https://www.linkedin.com/in/amanagarwal123/" rel="noopener noreferrer">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                </div>
                <div class="mt-2" style="text-align: center;">
                    <div>
                        Feel free to drop a mail at <a target='_blank' href="mailto:agarwalaman263@gmail.com">agarwalaman263@gmail.com</a>
                    </div>
                </div>

                <div class="text-center" style="color: black;">
                    Made with
                    <fa-icon [icon]="faHeart" style="color: red;font-size: unset;"></fa-icon>
                </div>

            </div>
        </div>
    </div>
</ng-container>