<ng-container>
    <div class="jumbotron d-flex flex-column" appCenterAlign>

        <button class="p-4"> Download my resume</button>
        <div class="mt-4 d-flex justify-content-around " style="width: 50%;">
            <fa-icon [icon]="faCoffee"></fa-icon>
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faInsta"></fa-icon>
            <fa-icon [icon]="faGithub"></fa-icon>
            <fa-icon [icon]="faLinkedin"></fa-icon>
        </div>
        <div class="mail mt-2">
            Feel free to drop a mail at <a href="mailto:agarwalaman263@gmail.com">agarwalaman263@gmail.com</a>
        </div>
        <div class="mt-5">
            Made with
            <fa-icon [icon]="faHeart" style="color: red;font-size: unset;"></fa-icon> with angular and github. Huge shoutout to FontAwesome for amazing icons;
        </div>
    </div>
</ng-container>