<ng-container>
    <div class="jumbotron">
        <app-headers [text]="'Projects'"></app-headers>
        <div class="grid-container">
            <div *ngFor='let project of this.projects; let i=index' class="each-card" style="display: flex;justify-content: center;align-items: center;">
                <img [src]="project.image" class="image" alt="check you net">
                <div class="link">
                    <div>

                        {{project.Link}}
                    </div>
                </div>
                <div class="info-circle">
                    <div>
                        {{project.Name}}
                    </div>
                    <div>
                        {{project.Description}}
                    </div>

                    <!-- <div *ngFor="let each of education?.additional">
                        {{each}}
                    </div> -->
                    <!-- <div>
                        {{education.duration}}
                    </div> -->

                </div>
            </div>

        </div>
    </div>
</ng-container>