<ng-container>
    <app-typewriter [sectionLayout]="'#080808'" parallax appIndexSetter [index]='1'></app-typewriter>
    <app-experience [sectionLayout]="'#F2F2F2'" appIndexSetter [index]='3'></app-experience>
    <app-education [sectionLayout]="'#121212'" parallax appIndexSetter [index]='2'></app-education>
    <app-projects [sectionLayout]="'#D2D2D2'" appIndexSetter [index]='4'></app-projects>
    <app-skillset [sectionLayout]="'#F2F2F2'" appIndexSetter [index]='5'></app-skillset>
    <app-contact [sectionLayout]="'#BDBDBD'" parallax appIndexSetter [index]='6'></app-contact>
</ng-container>