<ng-container>
    <div class="jumbotron">
        <app-headers [text]="'Education'"></app-headers>
        <div class="grid-container">
            <div *ngFor='let education of this.education; let i=index' class="each-card">
                <img [src]="education.image" class="image" alt="check you net">
                <div>{{education.catergory }}
                </div>
                <div class="info-circle">
                    <div class="first-element">
                        {{education.institution}}
                    </div>
                    <div *ngFor="let each of education?.additional">
                        {{each}}
                    </div>
                    <div>
                        {{education.duration}}
                    </div>

                </div>
            </div>

        </div>
    </div>
</ng-container>