<ng-container>
    <div class="jumbotron">
        <app-headers [text]="'Education'"></app-headers>
        <ng-container *ngFor='let education of this.education'>
            <div class="lead d-flex justify-content-between">
                <div>{{education.catergory}}</div>
                <div>{{education.duration}}</div>
            </div>
            <ng-container *ngFor="let additional of education.additional">
                <div>
                    {{additional}}
                </div>
            </ng-container>
            <div>
                {{education.institution}}
            </div>
            <p>
                <span *ngIf="!!education.CGPA">
                    CGPA:&nbsp;{{education.CGPA}}
                </span>
                <span *ngIf="!!education.percentage">
                    Percentage:&nbsp;{{education.percentage|percent}}
                </span>
            </p>
            <hr class="my-4" style="border: white solid 1px;">
        </ng-container>
    </div>
</ng-container>