/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/bootstrap/scss/functions";
@import "./../node_modules/bootstrap/scss/variables";
@import "./../node_modules/bootstrap/scss/mixins";
@import "./../node_modules/bootstrap/scss/root";
@import "./../node_modules/bootstrap/scss/reboot";
@import "./../node_modules/bootstrap/scss/type";
@import "./../node_modules/bootstrap/scss/buttons";
@import "./../node_modules/bootstrap/scss/button-group";
@import "./../node_modules/bootstrap/scss/nav";
@import "./../node_modules/bootstrap/scss/navbar";
@import "./../node_modules/bootstrap/scss/jumbotron";
@import "./../node_modules/bootstrap/scss/media";
@import "./../node_modules/bootstrap/scss/utilities";

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
    user-select: none;
    position: relative;
}

* {
    outline: none !important;
}

.jumbotron {
    /* background-color: unset; */
    border-radius: 0px;
    color: white;
    background-color: unset;
    background: unset;
    margin-bottom: 0;
}

html::-webkit-scrollbar-track {
    border: 1px solid black;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.underscore:after {
    content: '';
    position: absolute;
    bottom: -5px;
    height: 5px;
    width: 50px;
    background: white;
    left: 3px;
}

.basicLayout {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #BDBDBD;
    width: 100vw;
    flex-direction: column;
}

.eachLogo svg {
    width: 6rem !important;
    height: 6rem;
}

.coming-soon svg{
    height: 100%;
    height: 100%;
}